.cards-help > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 16px;
}

.cards-help > ul > li {
  border: 1px solid #dadada;
  border-radius: 8px;
  background-color: var(--background-color);
  text-align: center;
  padding: 24px 16px;
  transition: box-shadow 0.2s;
}

.cards-help > ul > li:hover {
  box-shadow: 0 2px 12px rgba(0 0 0 / 10%);
}

.cards-help .cards-help-card-image {
  line-height: 0;
  margin-bottom: 12px;
}

.cards-help .cards-help-card-image img {
  width: 48px;
  height: 48px;
  object-fit: contain;
  display: inline-block;
}

.cards-help .cards-help-card-body {
  font-size: var(--body-font-size-s);
}

.cards-help .cards-help-card-body h2,
.cards-help .cards-help-card-body h3,
.cards-help .cards-help-card-body h4 {
  font-size: var(--body-font-size-m);
  margin: 0 0 8px;
}
