:root {
  --heading-font-family: "Roboto", system-ui, sans-serif;
  --body-font-family: "Roboto", system-ui, sans-serif;
  --background-color: #fff;
  --text-color: #333;
  --link-color: #0f3464;
  --link-hover-color: #036;

  /* Kotak brand */
  --brand-red: #e4002b;
  --brand-navy: #0f3464;
  --light-grey-bg: #ececed;
  --dark-bg: #253844;
  --section-padding: 40px;
  --nav-height: 64px;
  --content-max-width: 1170px;
  --heading-size-xxl: 44px;
  --heading-size-xl: 44px;
  --heading-size-l: 28px;
  --heading-size-m: 28px;
  --heading-size-s: 18px;
  --heading-size-xs: 16px;
}
